/* For testing only  - Leroi Dejesa */
body {margin: 0px;}
*:not(body):not(html) {
  box-sizing: border-box;
  border: 1px dashed firebrick;

}
.column {
  min-height: 100px;
  min-width: 50%;
  float: left;
}
/* End for testing */

.nav {
  background-color: #567;
}

.navbar-brand {
  padding: 0;
}

ul {
  // list-style-type: none;
  // text-align: right;
  // float: right;
  // width: 85%;
}
li {
  // margin-top: 20px;
  // border-top: 8px solid #009ABE;
  // float: left;
}

// @media screen and (min-width: 321px);
